<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="instructorApp">
  <div ng-controller="InstructorsController">

    <div ng-repeat="bit in bits"
      ng-class="{cell:true, selected: bitTest(bit, val)}"
      ng-click="bitToggle(bit)"
      >{{ bit }}</div>

    Value: {{ val }}

  </div>

  </body>
</html>